body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    color: lightgray;
    height: 100%;
}

.left_container {
    background-color: #19171D;
}

.left_container div {
    font-size: 18px;
    margin: 15px 0 0 0;
    padding-left: 15px;
}

.right_container {
    background-color: #1A1D21;
}

.right_nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.right_nav div {
    font-size: 18px;
    margin: 15px 0 0 0;
}

hr {
    margin-top: 15px;
    border: 0.5px solid gray;
}

#channel {
    font-size: 15px;
}

#channel i {
    font-size: 13px;
    margin-right: 5px;
}

.msg_box {
    background-color: red;
    margin: 10px 15px;
}