.box {
    margin-bottom: 100px;
}

.px {
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

.pct-parent {
    width: 500px;
    height: 500px;
    background-color: lemonchiffon;
}

.pct-child {
    /* 부모의 절반인 250px */
    width: 50%;
    height: 50%;
    background-color: blanchedalmond;
}

.em {
    font-size: 2em;
}

.case1 {
    font-size: 20px;
}

.case2 {
    font-size: 10px;
}

.em-3 {
    font-size: 3em;
}

.rem {
    font-size: 2rem;
}

.vw {
    height: 20vw;
    width: 20vw;
    background-color: coral;
}

.vh {
    height: 20vh;
    width: 20vh;
    background-color: olive;
}

.test {
    font-size: 30px;
}

@media screen and (min-width: 1000px) {
    /* .px {
        width: 500px;
        height: 500px;
        background-color: pink;
    } */

    .test {
        font-size: 10vw;
    }

    .flex{
        display: flex;
    }
}