<html>
    <head>
        <title>login</title>
        <style>
            body {
                margin: 0;
                background: linear-gradient(#ffd1d1, #d7daff);
            }
            form {
                margin: 10% auto;
                width: 500; height: 60%;
                background: linear-gradient(#e66465, #9198e5);
                border-radius: 40px;
                padding: 80 0 0 0;
                text-align: center;
            }
            img {
                display: block;
                margin: 0 auto;
                filter: opacity(0.5) drop-shadow(0 0 0 hotpink);
            }
            input {
                border: 1px solid lightgray;
                border-radius: 20px;
                height: 30; width: 200;
                padding-left: 15px;
                margin-top: 40;
            }
            button {
                border: none;
                background-color: white;
                color: #9198e5;
                height: 30; width: 80;
                border-radius: 15px;
                margin-top: 50;
                font-weight: bold;
            }
            button:hover {
                opacity: 0.7;
            }
        </style>
    </head>
    <body>
        <div>
            <form action="/login_result", method="POST">
                <img src="/whale.png" width="150">
                <input type="text" name="id" placeholder="ID"> <br>
                <input type="password" name="password" placeholder="PASSWORD" style="margin-top: 20;"> <br>
                <button>로그인</button>
            </form>
        </div>
    </body>
</html>