<html>
    <head>
        <title>Sign Up</title>
        <style>
            body {
                margin: 0;
            }
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(#e66465, #9198e5);
                color: white;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div><h1>회원가입 되었습니다.</h1></div>
    </body>
</html>