<html>
    <head>
        <title>환영합니다</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <div class="container">
            <form id="name_form" action="/chat" method="post" enctype="multipart/form-data">
                <img src="/logo.png" width="200"> <br>
                <label for="profile">
                    <img src="/profile_img/sample.png">
                </label>
                <!-- <input type="file" id="profile" name="userfile" hidden onchange="imgPreview();"> -->
                <input type="text" name="nickname" placeholder="닉네임을 입력해주세요" onkeyup="pressEnter();" required>
                <input type="file" id="profile" name="userfile" hidden onchange="imgPreview();"> <br>
                <button>채팅방 입장하기</button>
            </form>
        </div>
        <script src="/main.js"></script>
    </body>
</html>