<html>
    <head>
        <title>환영합니다</title>
        <link rel="stylesheet" href="/index.css">
        <script>
            function pressEnter() {
                if (window.event.keyCode == 13) {
                    $("#name_form").submit();
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
            <form id="name_form" action="/chat" method="post">
                <img src="/logo.png" width="200"> <br>
                <input type="text" name="nickname" placeholder="닉네임을 입력해주세요" onkeyup="pressEnter();" required> <br>
                <button>채팅방 입장하기</button>
            </form>
        </div>
    </body>
</html>