.inner_msg_box div div {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.white div {
    background-color: white;
    position: relative;
}
.white div:after {
content: '';
position: absolute;
left: 0;
top: 50%;
width: 0;
height: 0;
border: 0.4em solid transparent;
border-right-color: white;
border-left: 0;
margin-top: -0.4em;
margin-left: -0.4em;
}
.yellow {
    text-align: right;
}
.yellow div {
    background-color: yellow;
}
.center {
    text-align: center;
}