body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    color: lightgray;
    height: 100%;
}

.container .bi-chevron-down {
    font-size: 10px;
    position: relative;
    -webkit-text-stroke: 1px;
}

.left_container {
    background-color: #19171D;
    border-right: 0.1px solid rgb(59, 59, 59);
}

.left_container div {
    margin: 15px 0 0 0;
    padding-left: 15px;
    cursor: pointer;
}

.menu:hover {
    color: white;
}

.roomName {
    font-size: 18px;
    font-weight: bolder;
}

.menu {
    font-size: 15px;
    color: gray;
}

.menu i {
    margin-right: 4px;
}

.right_container {
    background-color: #1A1D21;
}

.right_nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.right_nav div {
    font-size: 18px;
    font-weight: bolder;
    margin: 15px 0 0 0;
}

hr {
    margin-top: 15px;
    border: 0.1px solid rgb(59, 59, 59);
}

#channel {
    font-size: 15px;
    color: gray;
}

#channel .dropdown {
    margin: 0 !important;
    padding: 0 !important;
}

#channel p {
    font-size: 15px;
    color: gray;
}

#channels {
    padding: 0;
}

#channel p:hover {
    color: white;
}

.bi-caret-down-fill {
    font-size: 13px;
    margin-right: 8px;
}

#dm {
    font-size: 15px;
    color: gray;
}

#dm img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 2px;
}

.dm_list {
    margin: 0 !important;
    padding: 0 !important;
}

.dm_list span {
    position: relative;
    bottom: 8px;
    right: 5px;
    margin: 0 10px;
}

.dm_list:hover {
    color: white;
}

.msg_box {
    margin: 10px 15px;
}

.reset {
    margin: 0 !important;
    padding: 0 0 10px 0 !important;
}

.dropdown:hover {
    color: white;
}