.flex-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 0 !important;
}

.flex-box i {
    margin: 0 4px;
}

.textbox_container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 15px;
    background-color: #222529;
    position: absolute;
    min-width: 300px;
    bottom: 10px;
}

.textbox_container i:hover {
    color: white;
    cursor: pointer;
}

.textbox_container div {
    font-size: 18px;
    padding: 10px;
    color: gray;
}

#message {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    width: 97%;
    color: white;
}

#message:focus {
    outline: none;
    /* color: white; */
}

#message::-webkit-scrollbar {
    display: none;
}

.send_btn {
    /* background-color: rgb(0, 128, 83); */
    border-radius: 8px;
    cursor: pointer;
}

.send_btn i {
    color: gray;
    margin: 0;
    font-size: 12px;
}

.send_btn span {
    margin: 0 3px;
}

.icons span {
    margin: 0 10px;
}