.container {
    width: 450px;
    height: 700px;
    margin: 150px auto 0 auto;
    background-color: skyblue;
    overflow-y: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

i {
    font-size: 20px;
    font-weight: bold;
}

.bi-search {
    font-size: 18px;
    margin: 0 10px 0 0;
}

.bi-list {
    font-size: 23px;
}

#msg-box {
    width: 100%;
}

.input-box {
    width: 450px;
    margin: auto;
    background-color: white;
    text-align: center;
}

input {
    width: 350px;
    height: 37px;
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 15px;
    margin: 5px 0;
}

button {
    width: 50px;
    height: 37px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
}
/* 
.container div div {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.white div {
    background-color: white;
    position: relative;
}
.white div:after {
content: '';
position: absolute;
left: 0;
top: 50%;
width: 0;
height: 0;
border: 0.4em solid transparent;
border-right-color: white;
border-left: 0;
margin-top: -0.4em;
margin-left: -0.4em;
}
.yellow {
    text-align: right;
}
.yellow div {
    background-color: yellow;
}
.center {
    text-align: center;
} */