<html>
    <head>
        <title>Slack | 강의 | SeSAC4_코딩온</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/textbox.css">
        <link rel="stylesheet" href="/media.css">
        <%-include('script.ejs') %>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <div class="container">
            <div class="left_container">
                <div>SeSAC4_코딩온</div>
                <hr>
                <div id="channel">
                    <i class="bi bi-caret-down-fill"></i>채널
                    <p># 자유</p>
                </div>
            </div>
            <div class="right_container">
                <div class="right_nav">
                    <div># 자유</div>
                    <div>세령</div>
                </div>
                <hr>
                <div></div>
                <%-include('textbox.ejs') %>
            </div>
        </div>
        
        <script src="/textbox.js"></script>
    </body>
</html>