<nav>
    <div class="nav_container">
        <div style="visibility: hidden">세령</div>
        <div class="search_box">
            <i class="bi bi-search"></i>
            <span>SeSAC4_코딩온 검색</span>
        </div>
        <div class="profile_icon" onclick="showProfile();"><img src="/profile_img/sample.png"></div>
    </div>
</nav>