<div class="profile hide">
    <div class="profile_header d-flex">
        <label for="upload_profile_img">
            <img src="/profile_img/sample.png">
        </label>
        <input id="h_input_username" type="text" hidden>
        <input type="file" id="upload_profile_img" name="userfile" hidden onchange="imgPreview();">
        <div>
            <h5 id="username"></h5>
        </div>
    </div>
    <div class="status"><i class="bi bi-pencil"></i></div>
    <p>상태 지우기</p>
    <p>자신을 자리 비움(으)로 설정</p>
    <p>알림 일시 중지</p>
    <hr>
    <p>프로필</p>
    <p>환경설정</p>
    <hr>
    <p style="margin-bottom: 0;">SeSAC4_코딩온에서 로그아웃</p>
</div>