<div class="textbox_container">
    <div>
        <i class="bi bi-type-bold"></i>
        <i class="bi bi-type-italic"></i>
        <i class="bi bi-type-underline"></i> 
        <span>|</span>
        <i class="bi bi-link-45deg"></i>
        <span>|</span>
        <i class="bi bi-justify-left"></i>
        <i class="bi bi-justify"></i>
        <i class="bi bi-justify-left"></i>
        <span>|</span>
        <i class="bi bi-code-slash"></i>
    </div>
    <input type="text" id="message" placeholder="#자유에 메시지 보내기" onkeyup="pressEnter();">
    <div class="flex-box">
        <div>
            <i class="bi bi-plus-circle-fill"></i>
            <span>|</span>
            <i class="bi bi-camera-video"></i>
            <i class="bi bi-mic"></i>
            <span>|</span>
            <i class="bi bi-emoji-smile"></i>
            <i class="bi bi-at"></i>
        </div>
        <div class="send_btn" onclick="btnSend();">
            <i class="bi bi-send-fill"></i>
            <span style="color: white">|</span>
            <i class="bi bi-chevron-down"></i>
        </div>
    </div>
</div>