<html>
    <head>
        <title>practice49 - index</title>
        <script>
            function loginpage() {
                window.location.href = "/practice49/login"
            }
        </script>
    </head>
    <body>
        <%=data.session%>
        <button>회원가입</button>
        <button onclick="loginpage();">로그인</button>
    </body>
</html>