<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <form>
            <input type="text" placeholder="ID"> <br>
            <input type="password" placeholder="PASSWORD"> <br>
            <button>로그인</button>
        </form>
    </body>
</html>