<html>
    <head>
        <title>practice48</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            function close_btn() {
                let modal_checkbox = document.querySelector("input");

                if (modal_checkbox.checked) {
                    document.cookie = "today=no; expires=Sat, 14 Aug 2022 00:00:00 GMT; path=/";
                    console.log(document.cookie);
                }
                // } else {
                //     document.cookie = "today=yes";
                //     console.log("cookie : ", document.cookie);
                // }
            }
        </script>
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">안내</h5>
                </div>
                <div class="modal-body">
                  <h4>인터넷익스플로러(IE) 지원 종료 안내</h4>
                  <p>인터넷익스플로러(IE) 서비스 지원이 2022년 6월 15일 종료됨에 따라 안전하고 원활한 LH청약센터 이용을 위해 크롬, 사파리, 엣지 등의 웹브라우저를 이용해주시기 바랍니다.</p>
                </div>
                <div class="modal-footer">
                    <div style="margin-right: 280;">
                        <input type="checkbox"> 오늘 그만보기
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="close_btn()">Close</button>
                </div>
              </div>
            </div>
        </div>
    </body>
    <script>
        let flag  = true
        let cookieArr = document.cookie.split(";");
        console.log(cookieArr);
        for (let i in cookieArr) {
            console.log(cookieArr[i]);
            let cookie = cookieArr[i].split("=");
            console.log(cookie);
            if (cookie[0] == " today" && cookie[1] == "no") {
                flag = false;
                break;
            }
        }
        if (flag == true) {
            $(document).ready(function() {
                $("#exampleModal").modal("show");
            });
        }
    </script>
</html>