<html>
    <head>
        <title>practice48</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            function is_checked() {
                let modal_checkbox = document.querySelector("input");

                if (modal_checkbox.checked) {
                    document.cookie = "today=no; expires=Sat, 13 Aug 2022 00:00:00 GMT; path=/";
                    console.log(document.cookie);
                } else {
                    document.cookie = "";
                    console.log(document.cookie);
                }
            }
        </script>
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">안내</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4>인터넷익스플로러(IE) 지원 종료 안내</h4>
                  <p>인터넷익스플로러(IE) 서비스 지원이 2022년 6월 15일 종료됨에 따라 안전하고 원활한 LH청약센터 이용을 위해 크롬, 사파리, 엣지 등의 웹브라우저를 이용해주시기 바랍니다.</p>
                </div>
                <div class="modal-footer">
                    <div style="margin-right: 150;">
                        <input type="checkbox" onclick="is_checked();"> 오늘그만보기
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
        </div>
    </body>
    <script>
        document.cookie = "today=yes";
        if (document.cookie == "") {
            $(document).ready(function() {
                $("#exampleModal").modal("show");
            });
        } else {
            let cookieArr = document.cookie.split(";");
            console.log(cookieArr);
            let cookieTodayArr = cookieArr[0].split("=");
            let cookieToday = cookieTodayArr[1];
            console.log(cookieToday);
        }
    </script>
</html>