<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        async function signup() {
            const form = document.getElementById("signupForm");
            const response = await axios.post("/user/postSignup");
        }
    </script>
</head>
<body>
    <form id="signupForm">
        <input type="text" name="id" placeholder="id"> <br>
        <input type="password" name="password" placeholder="password"> <br>
        <input type="file" name="profile"> <br>
        <button type="button" onclick="signup()">회원가입</button>
    </form>
</body>
</html>