<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function login() {
            const form = document.getElementById("loginForm");

            const response = axios.post("/user/login", {
               u_id: form.id.value,
               password: form.password.value
            });
            console.log(response.data);
        }
    </script>
</head>
<body>
    <form id="loginForm">
        <input type="text" name="id" placeholder="id"> <br>
        <input type="password" name="password" placeholder="password">
        <button type="button" onclick="login()">로그인</button>
    </form>
</body>
</html>