<html>
    <head>
        <title>index.ejs</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            function writeComment() {

                let form = document.getElementById("form_comment");

                axios({
                    method: "post",
                    url: "http://localhost:8080/visitor/write",
                    data: {
                        name: form.name.value,
                        comment: form.comment.value
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    // data = { id : }
                    console.log(data);
                    // 새로고침 하기 전에 바로 보여주기 위해 작성한 부분
                    // 바로 보이게 하기 위해 insert하면서 생긴 insertId를 가져와줬다.
                    let html = "<tr><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value + "</td><td><button class='edit_btn'>수정</button></td><td><button class='delete_btn'>삭제</button></td></tr>";
                    $("table").append(html);
                })
            }

            function cancel() {
                let make_btns = '<button type="button" onclick="writeComment();">등록</button>';
                $("form div").html(make_btns);

                let form = document.getElementById("form_comment");

                form.name.value = "";
                form.comment.value = "";
            }

            function editComment(id) {
                console.log("edit");

                let form = document.getElementById("form_comment");

                axios({
                    method: "post",
                    url: "http://localhost:8080/visitor/edit",
                    data: {
                        name: form.name.value,
                        comment: form.comment.value,
                        id : id
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    // {id: }
                    console.log(data);
                    let tr = document.querySelectorAll("tr")[data.id];
                    let tds = tr.querySelectorAll("td");
                    let name = tds[1];
                    let comment = tds[2];
                    name.innerText = form.name.value;
                    comment.innerText = form.comment.value;

                    alert("수정 성공");
                    form.name.value = "";
                    form.comment.value = "";

                    let make_btns = "<button type='button' onclick='writeComment();'>등록</button>";
                    $("form div").html(make_btns);
                })
            }
        </script>
    </head>

    <body>
        <form id="form_comment">
            <fieldset style="width: 300;">
                <legend>방명록 등록</legend>
                <input type="text" name="name" placeholder="사용자 이름"> <br>
                <input type="text" name="comment" placeholder="방명록"> <br>
                <div>
                    <button type="button" onclick="writeComment();">등록</button>
                </div>
            </fieldset>
        </form>

        <table border="1" cellspacing="0" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>방명록</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <!-- 새로고침 했을 때 database로부터 최신 상태의 data를 항상 불러와서 보여주게 된다. -->
            <% for (let i = 0; i < data.length; i++ ) { %>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].comment%></td>
                    <td><button class="edit_btn">수정</button></td>
                    <td><button class='delete_btn'>삭제</button></td>
                </tr>
            <% } %>
        </table>

        <script>
            let form = document.getElementById("form_comment");

            $(".edit_btn").on("click",  function( obj ) {
                let target = obj.currentTarget;
                let tr = target.parentNode.parentNode;
                let tds = tr.querySelectorAll("td");
                let id = $(tds[0]).text();
                let name = tds[1];
                let comment = tds[2];

                form.name.value = $(name).text();
                form.comment.value = $(comment).text();

                let make_btns = "<button type='button' onclick='editComment(" + id + ");'>수정</button><button type='button' onclick='cancel();'>취소</button>";
                $("form div").html(make_btns);
            })

            $(".delete_btn").on("click", function( obj ) {

                let target = obj.currentTarget;
                let tr = target.parentNode.parentNode;
                let tds = tr.querySelectorAll("td");
                let id = $(tds[0]).text();
                console.log(id);

                axios({
                    method: "post",
                    url: "http://localhost:8080/visitor/delete",
                    data: {
                        id : id
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    console.log(data.id);
                    let table = document.querySelector("table");
                    // [tr, tr, tr, tr, ...]
                    let delete_row = table.querySelectorAll("tr");
                    for (let i = 0; i < delete_row.length; i++) {
                        let cell = delete_row[i].querySelectorAll("td");
                        if ($(cell[0]).text() == data.id) {
                            console.log(delete_row[i]);
                            $(delete_row[i]).html("");
                        }
                    }
                    alert("삭제 성공");
                });
            })
        </script>
    </body>
</html>